<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

<!--    FIXME should specify cleartext only for the kordis URL-->
    <application
        android:name=".Application"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SearchActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.VehicleMapActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.VehiclesListActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>


        <activity
            android:name=".activity.NewsActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.ConnectionsResultScreen"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.AboutActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.DiversionsActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.DiversionInfoActivity"
            android:parentActivityName=".activity.DiversionsActivity">
        </activity>


        <activity
            android:name=".activity.settings.SettingsActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.settings.DevSettingsActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.devtest.DeparturePerformanceActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>

        <activity
            android:name=".activity.devtest.LineListActivity"
            android:parentActivityName=".activity.settings.SettingsActivity">
        </activity>

        <activity
            android:name=".activity.TripDetailActivity"
            android:parentActivityName=".activity.DeparturePostDetailActivity">
        </activity>

        <activity
            android:name=".activity.DeparturesActivity"
            android:parentActivityName=".activity.SearchActivity">
        </activity>

        <activity
            android:name=".activity.DeparturePostDetailActivity"
            android:parentActivityName=".activity.SearchActivity">
        </activity>

        <activity
            android:name=".activity.EventsActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>


    </application>

</manifest>